@page "/registroCurso"
@using RegistroAcademicoApp.Shared
@inject HttpClient http
@using Blazored.Typeahead
<div>
    <form>
        <label>Maestros</label>
        <div class="form-group">
            <label>Docente</label>
            <select class="form-control" @bind-value="cbxMaestro"
                    @bind-value:event="oninput"
                    @onchange="BuscarCursoPorMaestro">
                <option value="">--Seleccione--</option>
                @if (LstMaestros != null)
                {
                    @foreach (MaestrosCls m in LstMaestros)
                    {
                        <option value="@m.MaestroId">@m.Nombre</option>
                    }
                }
            </select>
        </div>
        <div>Cursos</div>
        <div class="form-group">
            <select class="form-control">
                <option value="">--Seleccione--</option>
                @if (LstCursos != null)
                {
                    @foreach (CursoCls c in LstCursos)
                    {
                        <option value="@c.CursoId">@c.NombreCurso</option>
                    }
                }
            </select>
        </div>
        

      
            <BlazoredTypeahead MaximumSuggestions="2"  SearchMethod="buscarCursos" @bind-Value="CursoSelected" EnableDropDown="true" TItem="CursoCls" TValue="CursoCls">
                <SelectedTemplate>
                   @context.NombreCurso
                </SelectedTemplate>
                <ResultTemplate>
                    @context.NombreCurso
                </ResultTemplate>
            </BlazoredTypeahead>
            <div class="form-group">
                @if (CursoSelected != null)
                {
                    <p>Curso Seleccionado: @CursoSelected.NombreCurso</p>
                }
            </div>
    </form>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        LstMaestros = await http.GetFromJsonAsync<MaestrosCls[]>("api/Maestro/GetMaestros");

    }
}
