@using RegistroAcademicoApp.Shared
@inject HttpClient http
@using Blazored.Typeahead
@inject IRepositorio repositorio
@inject NavigationManager navigationManager

<EditForm Model="@perfilCls" OnValidSubmit="GuardarDatos">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (perfilCls.IdPerfil != 0)
    {
        <div class="form-group">
            <label>Id Perfil</label>
            <input class="form-control" readonly type="number" @bind="perfilCls.IdPerfil" />
        </div>
    }

<div class="form-group">
    <label>Opcion</label>    
    <BlazoredTypeahead SearchMethod="buscarMenu" @bind-Value="perfilCls.UsuarioIdMenuNavigation" EnableDropDown="true" TItem="MenuCls" TValue="MenuCls">
        <SelectedTemplate Context="ctex">
            @ctex.IdMenu - @ctex.OpcionMenu
        </SelectedTemplate>
        <ResultTemplate Context="ctx">
            @ctx.IdMenu - @ctx.OpcionMenu
        </ResultTemplate>
    </BlazoredTypeahead>

</div>

    <div class="form-group">
        <label>Usuario</label>
        <BlazoredTypeahead SearchMethod="buscarUsuario" @bind-Value="perfilCls.UsuarioPerfil" EnableDropDown="true" TItem="UsuarioCls" TValue="UsuarioCls">
            <SelectedTemplate Context="ctex">
                @ctex.idUsuario - @ctex.nombre
            </SelectedTemplate>
            <ResultTemplate Context="ctx">
                @ctx.idUsuario - @ctx.nombre
            </ResultTemplate>
        </BlazoredTypeahead>
    </div>
    <input type="submit" value="Guardar" class="btn btn-primary" />
    <NavLink href="/ListaPerfil">
        <input type="button" value="Regresar" class="btn btn-danger" />
    </NavLink>
</EditForm>


@code {
    [Parameter]
    public PerfilCls perfilCls { get; set; } = new PerfilCls();

    public UsuarioCls[] lstUsuarios;
    public MenuCls[] lstMenus;
    //public UsuarioCls UsuarioSelected;


    protected override async Task OnInitializedAsync()
    {
        lstUsuarios= await http.GetFromJsonAsync<UsuarioCls[]>("api/Usuario/Get");

        List<MenuCls> lst = new List<MenuCls>()
        {
            new MenuCls()
            {
                Icono="n/a",
                 NombreMenu= "Registro Cursos",
                 OpcionMenu= "RegistroCurso"
            },
            new MenuCls()
            {
                Icono="n/a",
                 NombreMenu= "Registro Cursos",
                 OpcionMenu= "RegistroCurso"
            }
        };
        lstMenus = lst.ToArray();
    }


    public async Task GuardarDatos()
    {
        //perfilCls.UsuarioId = UsuarioSelected.idUsuario;
        //perfilCls.UsuarioPerfil = UsuarioSelected;

        var response = await repositorio.Post("api/Perfil/Guardar", perfilCls);
        if (response.Error)
        {
            var body = await response.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }
        else
        {
            navigationManager.NavigateTo("/ListaPerfil");
        }



    }

    private async Task<IEnumerable<MenuCls>> buscarMenu(string seachText)
    {
        if (!seachText.Equals(""))
        {
            return await Task.FromResult(lstMenus.Where(x => x.IdMenu.ToString().ToLower().Contains(seachText.ToLower()) || x.NombreMenu.ToLower().Contains(seachText.ToLower())).ToList());
        }
        else
        {
            return await Task.FromResult(lstMenus);
        }
    }

    private async Task<IEnumerable<UsuarioCls>> buscarUsuario(string seachText)
    {
        if (!seachText.Equals(""))
        {
            return await Task.FromResult(lstUsuarios.Where(x => x.idUsuario.ToString().ToLower().Contains(seachText.ToLower()) || x.nombre.ToLower().Contains(seachText.ToLower())).ToList());
        }
        else
        {
            return await Task.FromResult(lstUsuarios);
        }
    }


}